{% extends 'base2.html' %} 
{% load static %} 
{% block title %} Best Restaurants in India - Zomato {% endblock %} 
{% block body %} 

<div class="container">
    
    <a href="javascript:history.go(-1)"><i class="bi bi-arrow-left"></i></a> 
    <h2 class="mt-1 mb-4">Checkout</h2>    
    <!-- Cart Items -->
    {% for x in cart_items %}
    <div class="cart-item m-3">
        <div class="row">
            <div class="col-md-2">
                <img src="{{x.product.F_image.url}}" alt="Food Image 1" class="img-fluid">
            </div>
            <div class="col-md-3">
                <h5>{{x.product.F_name}}</h5>
                <p>{{x.product.F_speciality}}</p>
            </div>
            <div class="col-md-3 m-3">
                <p>&#x20b9; {{x.product.F_price}} per one</p>
            </div>
            <div class="col-md-3 m-3">
                <p><b>Quantity:</b>&nbsp;&nbsp;{{x.quantity}}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="row">
        <div class="col">
            Your Food Cart is Empty. <br>
            Order Your Foods Fast. <br>
        </div>
    </div>
    {% endfor %}

    <div class="info-pay" style="display: flex;
    justify-content: space-between;">
        <div class="text-right m-3">
            <p><strong>Total: </strong><i>Rs.{{total}}</i></p>
            <a href="/makePayment" class="btn btn-danger">Proceed to Pay</a>
        </div>
    </div>
    
    
</div>

{% endblock %}
