{% extends 'base2.html' %} 
{% load static %} 
{% block title %} Best Restaurants in India - Zomato {% endblock %} 
{% block body %}

<div class="container">
<a href="javascript:history.go(-1)"><i class="bi bi-arrow-left"></i></a>
<div class="foods-container container">
<div class = "cards-container">
    {% for x in results %}
      <div class = "card">
        <div class = "card-media">
          <div class="img">
              <a href="/itemsDetail/{{x.F_id}}"><img src="{{x.F_image.url}}" alt=""></a>
          </div>
          <div class = "discount">{{x.F_discount}}</div>
          <div class = "delivery-time">{{x.F_dtime}}</div>
        </div>
        <div class = "card-description">
          <div class = "about-place">
            <div class = "place">
              <p class = "place-name">{{x.F_name}}</p>
              <p class = "place-speciality">{{x.F_speciality}}</p>
            </div>
            <div class = "place-review">
              <p class = "rating">{{x.F_rating}} &#x2605;</p>
              <p class = "per-person"> &#x20b9; {{x.F_price}} per one</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
</div>
</div>
{% endblock %}